#header {
    margin-top: 200px; 
    margin-left: 800px;
    font-weight: bolder;
}
#highScore {
    position:absolute;
    top:0;
    left:0;
    padding-left: 25px;
    color: purple;
    font-weight: bolder;
}

#timer {
    position:absolute;
    top:0;
    right:0;
    padding-right: 25px;
}

p.text {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.button {
    margin-left: 920px;
    background-color: purple;
    color: white;
}