#header {
    margin-top: 200px; 
    margin-left: 800px;
    font-weight: bolder;
}
#highscore {
    position:absolute;
    top:0;
    left:0;
    padding-left: 25px;
    color: purple;
    font-weight: bolder;
}

#timer {
    position:absolute;
    top:0;
    right:0;
    padding-right: 25px;
}

.info-box {
    text-align: center;
    margin-bottom: 30px;
    font-size: large;
    font-weight: bolder;
}

#start {
    margin-left: 900px;
    background-color: purple;
    color: white;
}

#start:hover {
   cursor: pointer;
    background-color: blue;
}

#time {
    position:absolute;
    top:0;
    right:0;
    padding-right: 25px;
}

